<div class="fixed-header">

  <div class="container-fluid">
    <h1>War Forger</h1>
  </div>

  <ul class="nav nav-tabs" data-bs-theme="dark" id="site-nav">
    <li class="nav-item p-1"><a class="nav-link" href="./index.html">Home</a></li>
    <li class="nav-item p-1"><a class="nav-link" href="./pages/abilities.html">Search Abilities and Battle Traits</a></li>
    <li class="nav-item p-1"><a class="nav-link" href="./pages/fighters.html">Search Fighters</a></li>
    <li class="nav-item p-1"><a class="nav-link disabled" href="#">Search Stats</a></li>
    <li class="nav-item p-1"><a class="nav-link disabled" href="#">Compare Fighters</a></li>
  </ul>

</div>